<main>
  <section id="gamercontent">
    <div class="gamerdiv">
      <h1>start</h1>
      <h1>streaming</h1>
      <h1>games</h1>
      <h1>diferently</h1>
      <br>
      <small>gamor now has <strong>stream party</strong> platform</small>
      <div class="buttonarea">
        <button class="btn btn-section">
          Create account
        </button>
      </div>
    </div>

    <div class="middle">
      <small>
        parte2
      </small>
    </div>
    <div class="gameruserdiv">
        <small>
          parte 3
        </small>
    </div>
  </section>

  <section id="stream">
    <h2>Parte de abajo</h2> <small>aqui</small>
  </section>
</main>
