<main>
  <section id="gamercontent">
    <div class="gamerdiv">
      <div class="gamerdivtext">
        <h1>start</h1>
        <h1 style="color: var(--textgamerh2)">streaming</h1>
        <h1>games</h1>
        <h1>diferently</h1>
        <br>
        <small>gamor now has <strong>stream party</strong> platform</small>
      </div>

     <div class="buttonarea">
         <button class="btn btn-section" *ngIf="!autenticado">
           Create account
         </button>
         <button class="btn btn-signin" routerLink="/login" *ngIf="!autenticado">
           Sign in
         </button>
      </div>
    </div>

    <div class="middle">
      <h4>Fortnine New Season</h4>
      <strong>Join Live Stream</strong>
      <br>
      <div class="time"><p>{{this.date.getHours()+':'+this.date.getMinutes()}}</p></div>
    </div>

    <div class="gameruserdiv">
      <h5>01. Choose Platform</h5>
      <div class="buttonsback">
        <button class="btn btn-choose active">
          Party
        </button>
        <button class="btn btn-choose">
          Match
        </button>
        <button class="btn btn-choose">
          Stream
        </button>
      </div>
      <br>
      <h5>02. Search game</h5>
      <div class="searcharea">
        <div class="searcharea-container">
          <input type="text" placeholder="search" [(ngModel)]="juegosearch" value="{{juegosearch}}">
          <div class="searcharea-button">
            <a (click)="Buscar()"><img src="../../../assets/img/filter_dark.png"></a>
          </div>
        </div>
        <br>
        <table>
          <tbody>
          <tr *ngFor="let item of teams">
            <td><div class="id-user-table"> {{item.id}}</div></td>
            <td>{{item.team_name}}</td>
            <td><img src="../../../assets/img/users/{{item.mini}}.png"></td>
            <td><button class="btn-plus" (click)="setActiveUser(item.id)">+</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section id="stream">

    <div class="container-seccion2">
      <h5> Streamings</h5>
      <div class="area-streams-seccion2">
        <div class="streams-seccion-2">

        </div>
        <div class="streams-seccion-2">

        </div>
        <div class="streams-seccion-2">

        </div>
        <div class="streams-seccion-2">

        </div>
      </div>
      <div class="area-streams-seccion2">
        <div class="streams-seccion-2">

        </div>
        <div class="streams-seccion-2">

        </div>
        <div class="streams-seccion-2">

        </div>
        <div class="streams-seccion-2">

        </div>
      </div>
      <div class="area-streams-seccion2">
        <div class="streams-seccion-2">

        </div>
        <div class="streams-seccion-2">

        </div>
        <div class="streams-seccion-2">

        </div>
        <div class="streams-seccion-2">

        </div>
      </div>
    </div>
  </section>
</main>
