section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 5px;
}

#gamercontent{
  background-color: var(--gamercontentcolor);
}

#stream{
  background-color: #7e9734;
}

section div {
  width: 33%;
  height: 100%;
}

 section .gamerdiv{
  background-color: #ff214f;
  border-radius: 30px 0 0 30px;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.gameruserdiv{
  background-color: #adb5bd;
  border-radius: 0 30px 30px 0;
}

.middle{
  background-color: var(--gamermiddleseccion);
}

.buttonarea{
  padding-top: 15px;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 1.85rem;
}

h4, .h4 {
  font-size: 1.6rem;
}

h5, .h5 {
  font-size: 1.3rem;
}

.btn-section {
  color: #fff;
  background-color: var(--gamersectionbuttoncolor);
  border-radius: 20px;
}

.btn-section:hover {
  color: #fff;
  background-color: #fe8743;
  border-color: #ced4da;
}

@media screen and (max-width: 720px){
section {
    flex-direction: column;
  }

  section div{
    width: 100%;
    height: 100%;
  }
}

