<nav class="navbar">
  <div class="button_nav_hide">
    <input id="checkbox" type="checkbox">
    <label class="toggle" for="checkbox" (click)="desplegarMenu()">
      <div id="bar1" class="bars"></div>
      <div id="bar2" class="bars"></div>
      <div id="bar3" class="bars"></div>
    </label>
  </div>
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="#" routerLink="home">Home</a>
      </li>
      <li>
        <a class="nav-link" href="#">Stream</a>
      </li>
      <li>
        <a class="nav-link" href="#">Party</a>
      </li>
      <li>
        <a class="nav-link" href="#">Premium</a>
      </li>
    </ul>

    <a class="navbar-img" (click)="switchTheme()">
       <img src="../assets/img/{{logo}}.png" class="brand-img" alt="">
     </a>

     <ul class="navbar-nav2" >
       <li>
         <a class="nav-link" routerLink="login"*ngIf="!autenticado">Sign in</a>
       </li>
       <li>
         <a href="#" class="btn btn-banner" style="margin-left: 2rem" *ngIf="!autenticado">Create account</a>
       </li>
       <li>
         <a href="#" class="btn btn-banner" style="margin-left: 2rem" *ngIf="autenticado" routerLink="home">Usuario</a>
       </li>
     </ul>
</nav>
