
.navbar {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 3rem 3rem;
  text-decoration: none;

}

.navbar .navbar-nav{
  display: flex;
  flex-direction: row;
  justify-content: start;

}

.navbar .navbar-nav2{
  display: flex;
  flex-direction: row;
  justify-content: start;

}


.nav-link{
  padding: 10px;
  font-weight: bold;
  list-style-type: none;
}


.navbar-link a:hover{
  background-image: url("../../../assets/img/a_decorator.png");
}



.navbar-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 33.3%;
}

.navbar-img .brand-img {
  width: 35%;
}

.btn-banner{
  color: #e5e1f0;
  background-color: #1f2630;
  border-radius: 25px;
  border-color: #888888;
  width: 10rem;
  height: 3rem;
  text-align: center;
}

.btn-banner:hover{
  color: #fff;
  background-color: #fe8743;
}


/*Hover navbar menu*/
#checkbox {
  display: none;
}

.toggle {
  margin-left: 10px;
  margin-top: 8px;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .3s;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: .3s;
}
#checkbox:checked + .toggle #bar2 {
  transform: translateY(14px) rotate(60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: .3s;
  z-index: 2;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(28px) rotate(-60deg);
  transition-duration: .3s;
  transform-origin: left;
  z-index: 1;
}

#checkbox:checked + .toggle {
  transform: rotate(-90deg);
}

/*Hover navbar menu*/

.button_nav_hide{
  width: 40px;
  height: 40px;
  display: none;
}


.btn-section {
  color: var(--textarea);
  background-color: var(--gamersectionbuttoncolor);
  border-radius: 40px;
  width: 10rem;
  height: 4rem;
}

.btn-section:hover {
  color: #fff;
  background-color: #fe8743;
}




@media screen and (max-width: 720px) {
  .navbar{
    background: var(--backmenubar);
    width: 100%;
    height: var(--menuheight);
    padding: 0;
    margin: 0;
    align-items: start;
    justify-content: start;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 1s;
  }

  .navbar a{
    color: black;
  }

  .navbar a:hover{
    color: white;
  }

  .navbar .navbar-nav{
    display: var(--navbar-nav-display);
    margin: 1rem;
    flex-direction: column;

  }

  .navbar .navbar-nav2{
    display: none;
  }

  .button_nav_hide{
    display: inline-block;
  }
  .navbar-img{
    display: var(--displayimage);
    align-items: flex-start;
    padding-top: 6px;
    margin-left: 10px;
    width: 90%;
  }

  .btn-banner{
    display: none;
  }
}
