:root {
  --background: #181f27;
  --textcolor: #f8f9fa;
  --gamercontentcolor: #1f2630;
  --gamermiddleseccion: #fe8743;
  --gamerbackcolor: #181f27;
  --gamersectionbuttoncolor: #444c53;
  --textarea: #e5e1f0;
  --textgamerh2: #7e34ed;
  --middletextcolor: #bf5000;
  --background-image-middle: url(./assets/img/users/user3.png);
  --background-image-gamezone: url(./assets/img/backsect_dark.png);
  /*var menu responsive*/
  --menuheight: 50px;
  --displayimage: flex;
  --navbar-nav-display: none;
  --backmenubar: #7e34ed;
  --backidtable: #000000
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0 50px 0 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--textcolor);
  text-align: left;
  background: var(--background);
  box-sizing: border-box;

}

.scroll-1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}


hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #6c757d;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #fe8743;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #adb5bd;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}



button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #f8f9fa;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4rem 0.78rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}


.btn:hover {
  color: #f8f9fa;
  text-decoration: none;
}

@media screen and (max-width: 720px){
  body{
    margin: 0;
  }
}



